<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGAnimationButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>350F90B51BAFFAD800C3993F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350F90CE1BAFFAD800C3993F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350F90D91BAFFAD800C3993F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
